.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 767.98px) {
    width: 768px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1439.98px) {
    width: 1440px;
  }
}
