/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-midnightBlue-primary: #0f162d;
  --color-mediumOrchid-primary: #ca59ff;
  --color-cornflowerBlue-primary: #6hc7cff;
  --color-aqua-primary: #2affff;
  --color-yellow-primary: #fff629;
  --color-white-secondary: #ffffff;
  --color-black-secondary: #000000;
  --color-darkSlateGray-secondary: #272d42;
}
