/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/container.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--color-white-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  color: var(--color-on-surface);
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}
